html, body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    h1 {
        display: none;
    }

    header {
        display: grid;
        position: absolute;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }

    body .image1 {
        grid-row: 1 / 1;
        grid-column: 1 / 2;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        width: 50px;
    }

    header {
        width: 100vw;
    }

    header nav {
        margin-top: 10px;
    }

    header nav ul {
        grid-row: 1 / 1;
        grid-column: 2 / 3;
        list-style-type: none;
    }

    header nav ul {
        padding-left: 0px;
    }

    header nav ul li {
        display: inline;
        text-align: left;
        padding-top: 30px;
        align-items: center;
    }

    header nav ul li a {
        text-decoration: none;
        border-bottom: 1px solid white;
        color: white;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }

    body > img {
        width: 100vw;
    }

    /* Mobile navigation */
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: none;
        color: white;
        border-radius: 10px;
    }
    
    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav a {
        color: white;
        background-color: grey;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #4d4d4d;
        color: white;
    }

    .fa-bars {
        color: black;
        align-items: end;
    }
}