html, body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    h1 {
        display: none;
    }

    header {
        display: grid;
        position: absolute;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }

    body .image1 {
        grid-row: 1 / 1;
        grid-column: 1 / 2;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        width: 50px;
    }

    header {
        width: 100vw;
    }

    header nav {
        margin-top: 10px;
    }

    header nav ul {
        grid-row: 1 / 1;
        grid-column: 2 / 3;
        list-style-type: none;
    }

    header nav ul {
        padding-left: 0px;
    }

    header nav ul li {
        display: inline;
        text-align: center;
        padding-top: 30px;
        align-items: center;
    }

    header nav ul li a {
        text-decoration: none;
        border-bottom: 1px solid white;
        color: white;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        margin-right: 20px;
    }

    body > img {
        width: 100vw;
    }
}